// HTML Element: Table

@use '00-config' as *;
@use 'usa-table' as *;

table {
  @include usa-table();
}

thead {
  @media print {
    display: table-header-group;
  }
}

tr {
  @media print {
    page-break-inside: avoid;
  }
}
