{% set classes = [
  'c-featured-item',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes } ) }}>
	{% include '@uswds/alert/alert.twig' with {
          'title': title,
          'content': content,
          'modifier_classes': mods,
        } %}
</div>
