// WYSIWYG styles

@use '00-config' as *;

@forward 'uswds-global';
@use '01-global' as *;

// USWDS components.
@forward 'uswds-form-controls';
@forward 'usa-layout-grid';

@use '02-uswds' as *;
@use '03-layouts' as *;
@use '04-components' as *;
@use '07-utility' as *;
@use 'shame';

// stylelint-disable-next-line
body.cke_editable {
  outline: none !important;
}

// stylelint-disable-next-line
.cke_widget_drupalmedia {
  display: inline;

  drupal-media {
    display: inline;
    outline: none !important;
  }

  // stylelint-disable-next-line
  .cke_widget_drag_handler_container {
    display: none;
  }
}

.media-library-item__edit {
  @extend %c-button;
  @extend %c-button--small;
}
