// Component: Figure

@use '00-config' as *;

.c-figure {
  display: table;
  margin-bottom: rem(gesso-spacing(2));
  margin-top: 0;

  &.u-align-center {
    clear: both;
    margin-top: rem(gesso-spacing(2));
  }

  &.u-align-left {
    @include breakpoint(gesso-breakpoint(tablet)) {
      margin-right: rem(gesso-spacing(4));
      max-width: calc(50% - #{rem(gesso-spacing(2))});
    }
  }

  &.u-align-right {
    @include breakpoint(gesso-breakpoint(tablet)) {
      margin-left: rem(gesso-spacing(4));
      max-width: calc(50% - #{rem(gesso-spacing(2))});
    }
  }

  // Tweak styling in WYSIWYG editor.
  @if $wysiwyg {
    // stylelint-disable
    .cke_widget_wrapper:hover & {
      outline: 2px solid #ffd25c;
    }

    .cke_widget_wrapper.cke_widget_focused &,
    .cke_widget_wrapper.cke_widget_editable_focused & {
      outline: 2px solid #47a4f5;
    }
    // stylelint-enable

    .media-library-item__edit {
      left: rem(gesso-spacing(1));
      position: absolute;
      right: initial;
      top: rem(gesso-spacing(1));
    }
  }
}

.c-figure__caption {
  caption-side: bottom;
  display: table-caption;
  font-weight: gesso-font-weight(normal);
  margin-top: rem(gesso-spacing(1));
}

.c-figure--iframe {
  display: block;
  width: 100%;

  .c-figure__caption {
    display: block;
  }
}
