{% set classes = [
  'usa-banner',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% if language == 'es' %}
	{% set banner_text = 'Un sitio oficial del University of Louisville'|t %}
	{% set banner_action = 'Así es como usted puede verificarlo'|t %}
	{% set expanded_blocks = [
    {
      'icon': 'icon-dot-gov.svg',
      'icon_alt': 'Dot gov'|t,
      'heading': 'Los sitios web oficiales usan .gov'|t,
      'content': 'Un sitio web <strong>.gov</strong> pertenece a una organización oficial del University of Louisville.'|t,
    },
    {
      'icon': 'icon-https.svg',
      'icon_alt': 'HTTPS',
      'heading': 'Los sitios web seguros .gov usan HTTPS'|t,
      'content': 'Un <strong>candado</strong> (<span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title-lang-es banner-lock-description-lang-es"><title id="banner-lock-title-lang-es">Candado</title><desc id="banner-lock-description-lang-es">Un candado cerrado</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>) o <strong>https://</strong> significa que usted se conectó de forma segura a un sitio web .gov. Comparta información sensible sólo en sitios web oficiales y seguros.'|t,
    }]
  %}
{% else %}
	{% set banner_text = 'An official website of the University of Louisville'|t %}
	{% set banner_action = 'Here’s how you know'|t %}
	{% set expanded_blocks = [
    {
      'icon': 'icon-dot-gov.svg',
      'icon_alt': 'Dot gov'|t,
      'heading': 'Official websites use .gov'|t,
      'content': 'A <strong>.gov</strong> website belongs to an official University of Louisville organization.'|t,
    },
    {
      'icon': 'icon-https.svg',
      'icon_alt': 'HTTPS',
      'heading': 'Secure .gov websites use HTTPS'|t,
      'content': 'A <strong>lock</strong> (<span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title banner-lock-description"><title id="banner-lock-title">Lock</title><desc id="banner-lock-description">A locked padlock</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.'|t,
    }]
  %}
{% endif %}

<section {{ add_attributes({ 'class': classes } ) }} aria-label="{{ 'Official University of Louisville website'|t }}">
	<header class="usa-banner__header">
		<div class="usa-banner__inner">
			<div class="grid-col-auto">
				<img class="usa-banner__header-flag" src="{{ gesso_image_path }}/us_flag_small.png" alt="{{ 'U.S. flag'|t }}"/>
			</div>
			<div class="grid-col-fill tablet:grid-col-auto">
				<p class="usa-banner__header-text">{{ banner_text }}</p>
			</div>
		</div>
	</header>
</section>
